<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>天下互联</title>
<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="content">
    	<ul class="newsList cpjsList" data-bind="foreach: data.content">
        	<li data-bind="click:function(){$parent.godetail(did)}">
            	<h2 class="cpTitle" data-bind="text:dname">天象客户端</h2>
                <p class="cpCon" data-bind="text:content">天象客户端产品是由天下互联推出的一款手机客户端软件，主要为各企业、各行业以及商城打造高端名片，品牌价值，打造高端企业、行业形象</p>
            </li>

        </ul>
        <div style="height:50px"></div>
        <div class="tab-bar tab-bottom" style="background:#fff; position:fixed; border-top:1px solid #e8e8e8;">
            <a class="tab-button cached" href="inedx.html"><i class="tab-button-icon icon icon-home"></i><span class="tab-button-txt">首页</span></a>
            <a class="tab-button cached" href="news.html"><i class="tab-button-icon icon icon-exhibition icon-exhibition-x"></i><span class="tab-button-txt">新闻</span></a>
            <a class="tab-button active" href="cpjs.html"><i class="tab-button-icon icon icon-exhibition cpjsIcon"></i><span class="tab-button-txt">产品介绍</span></a>
            <a class="tab-button cached" href="lxwm.html"><i class="tab-button-icon icon icon-exhibition lxwmIcon"></i><span class="tab-button-txt">联系我们</span></a>
        </div>
    </div>
    <script>
        window.$ctx = "/WeChatApplet";
    </script>
    <script src="/WeChatApplet/web/trd/requirejs/require.js"></script>
    <script src="/WeChatApplet/web/js/require.config.js"></script>
    <script>

        require([ 'jquery', 'knockout','dialogmin','ajaxCom','dropload'
        ], function($, ko,dialogmin,ajaxCom,dropload) {
            var viewModel = {
                data : {
                    content : ko.observableArray([]),
                    totalPages : ko.observable(),
                    number : ko.observable(),
                    totalElements : ko.observable()
                },
                searchText : ko.observable(),
                setData : function(res) {
                    this.data.content(res);
                    this.data.totalPages(res.pages);
                    this.data.number(res.pageNum);
                    this.data.totalElements(res.total);
                }

            };
            var GetUrl = '/userModule/getUserModuleDetail'; //获取信息
            viewModel.getUserIdload = function(){

                $.ajax({
                    type : 'get',
                    dataType : 'json',
                    url :$ctx+ GetUrl+'?userModuleId='+GetQueryString("uid"),
                    success : function(res) {
                        if(res){
                            viewModel.userId = res.data.list.userId;
                            viewModel.applyName = res.data.list.applyName;
                            viewModel.applyDescription = res.data.list.applyDescription;
                            document.title = viewModel.applyName
                            $("head").append("<meta content='"+viewModel.applyDescription+"' name='description'/>")
                            $(".weixinLOGO").append("<img src='"+res.data.list.logo+"' >")
                            droploadFun();

                        }
                    },
                    error : function(XMLHttpRequest, textStatus, errorThrown) {
                        //dialogmin("调用服务报错!!");
                    }
                });
            };
            viewModel.godetail = function(id){
                window.location.href="../infoDetail/xq.html?did="+id;
            }
            var listUrl  =  '/api/showDetailList'
            var DataArray= new Array();
            var ishasdata =false
            viewModel.load = function(pageIndex,me){

                var queryData = {
                    pageSize: viewModel.pagesize||10,     //page size 每页显示条数
                    pageNum: pageIndex,    //page num 当前页数
                    zid: 0,   //page num 当前页数
                    uid:viewModel.userId
                };

                ajaxCom.Loadajax('GET',listUrl,queryData,function(res){
                    if(res.data.list.length<1 && ishasdata==false || GetQueryString("uid")=="0" ){
                        res = {"data":{"total":9,"lastPage":1,"nextPage":1,"hasNextPage":true,"pages":2,"pageSize":10,"navigatePages":8,"list":[
                            {
                                dname:"钓鱼岛南海还不够，日本又在台湾问题上挑衅，怎能容忍",
                                fpic:"img/pic.jpg",
                                did:"0",
                                createtime:"2017-6-22",
                                content:"钓鱼岛南海还不够钓鱼岛南海还不够钓鱼岛南海还不够钓鱼岛南海还不够"

                            },
                            {
                                dname:"钓鱼岛南海还不够，日本又在台湾问题上挑衅，怎能容忍",
                                fpic:"img/pic.jpg",
                                did:"0",
                                createtime:"2017-6-22",
                                content:"钓鱼岛南海还不够钓鱼岛南海还不够钓鱼岛南海还不够钓鱼岛南海还不够"
                            },
                            {
                                dname:"钓鱼岛南海还不够，日本又在台湾问题上挑衅，怎能容忍",
                                fpic:"img/pic.jpg",
                                did:"0",
                                createtime:"2017-6-22",
                                content:"钓鱼岛南海还不够钓鱼岛南海还不够钓鱼岛南海还不够钓鱼岛南海还不够"
                            },
                           
                        ],"hasPreviousPage":false,"navigatepageNums":[1,2],"size":10,"pageNum":1,"prePage":0,"endRow":10,"isLastPage":false,"startRow":1,"firstPage":1,"isFirstPage":true}}
                        setTimeout(function(){
                            me.resetload();
                        },1000)
                    }else if(res.data.list.length>1){
                        ishasdata =true
                        $(".newsLine .newsPic").find("img").attr('src',res.data.list[0].fpic)
                        $(".newsLine .newTime").html("<em></em>"+res.data.list[0].createtime);
                        setTimeout(function(){
                            me.resetload();
                        },1000)
                    }else if(res.data.list.length<1 && ishasdata ==true) {
                        me.lock();
                        me.noData();
                    }

                    DataArray =  DataArray.concat(res.data.list)
                    viewModel.setData(DataArray);

                },function(error){

                    dialogmin("网络错误");
                })
            }
            viewModel.getUserIdload();

            var droploadFun =function(){
                // 页数
                var page = 0;

                // dropload
                $('.content').dropload({
                    scrollArea : $('.content'),
                    loadDownFn : function(me){
                        page++;
                        // 拼接HTML
                        var result = '';
                        viewModel.load(page,me);

                    }
                });
            }
            viewModel.checknum = function(num){
                if(num % 2 ===0){
                    return 2
                }else{
                    return 1
                }
            }
            ko.applyBindings(viewModel);

            function GetQueryString(name)
            {
                var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                if(r!=null)return  unescape(r[2]); return null;
            };

        })
    </script>
</body>
</html>
