<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>天下互联</title>
<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="content">
    	<div class="adLine"><img src="img/ad.jpg"></div>
        <div class="jsCon">
        	<h1>天下互联：“互联网+”时代 以不变应万变</h1>
            <p>
            	天下互联是领先的个性化、智能化网络信息和网络广告服务商。CEO张向宁曾在2000年底成立了非常易公司(VeryE)。2004年3月，VeryE公司得到日本三井住友保险公司的风险投资，重组为“天下互联”。2006年7月下旬，公司完成了由三井住友保险公司、JAIC（日本亚洲投资有限公司）和MIH（米拉德控股集团公司）联合提供的次轮融资，进一步加速了公司的发展。<br>
商业电讯（prnews.cn）：于2004年5月推出。商业电讯是上市公司的财经资讯平台。商业电讯是促进投资者关系发展的一个重要财经平台。
            </p>
        </div>
        <ul class="xmList">
        	<li>
            	<span><img src="img/icon.jpg"></span>
                <div class="mui-media-body">天象客户端</div>
            </li>
            <li>
            	<span style="margin-top:-20px;"><img src="img/icon1.jpg"></span>
                <div class="mui-media-body">商业电讯</div>
            </li>
            <li>
            	<span><img src="img/icon2.jpg"></span>
                <div class="mui-media-body">情景传播</div>
            </li>
        </ul>
        <div style="height:50px"></div>
        <div class="tab-bar tab-bottom" style="background:#fff; position:fixed; border-top:1px solid #e8e8e8;">
            <a class="tab-button active" href="inedxN.html"><i class="tab-button-icon icon icon-home"></i><span class="tab-button-txt">首页</span></a>
            <a class="tab-button cached" href="newsN.html"><i class="tab-button-icon icon icon-exhibition icon-exhibition-x"></i><span class="tab-button-txt">新闻</span></a>
            <a class="tab-button cached" href="cpjsN.html"><i class="tab-button-icon icon icon-exhibition cpjsIcon"></i><span class="tab-button-txt">产品介绍</span></a>
            <a class="tab-button cached" href="lxwmN.html"><i class="tab-button-icon icon icon-exhibition lxwmIcon"></i><span class="tab-button-txt">联系我们</span></a>
        </div>
    </div>
</body>
</html>
