<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>天下新闻</title>
<link rel="stylesheet" href="css/style.css">

</head>

<body>
	<div class="content djCon">
    	<ul class="djNewsList" data-bind="foreach: data.content">
    		
            <li>
            	<a href="#">
                    <h2 class="djTitle">大国小民</h2>
                    <span class="djPic"><img src="img/pic1.jpg"></span>
                    <p class="djTxt">职业医闹的一天：既要闹医院，又要闹家属</p>
                </a>
        	</li>
            <li>
            	<a href="#">
                    <h2 class="djTitle">大国小民</h2>
                    <span class="djPic"><img src="img/pic1.jpg"></span>
                    <p class="djTxt">职业医闹的一天：既要闹医院，又要闹家属</p>
                </a>
        	</li>
            <li>
            	<a href="#">
                    <h2 class="djTitle">大国小民</h2>
                    <span class="djPic"><img src="img/pic1.jpg"></span>
                    <p class="djTxt">职业医闹的一天：既要闹医院，又要闹家属</p>
                </a>
        	</li>
            <li>
            	<a href="#">
                    <h2 class="djTitle">大国小民</h2>
                    <span class="djPic"><img src="img/pic1.jpg"></span>
                    <p class="djTxt">职业医闹的一天：既要闹医院，又要闹家属</p>
                </a>
        	</li>
        </ul>
        <div style="height:48px; float:left; width:100%;"></div>
        
        <div class="tab-bar tab-bottom" style="background:#f5f5f5; position:fixed">
            <a class="tab-button cached" href="indexN.html"><i class="tab-button-icon icon icon-home"></i><span class="tab-button-txt">要闻</span></a>
            <a class="tab-button active " href="djN.html"><i class="tab-button-icon icon icon-exhibition icon-exhibition-x"></i><span class="tab-button-txt">独家</span></a>
        </div>
    </div>
</body>

</html>
