<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>天下新闻</title>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="/WeChatApplet/web/css/main.css">
</head>

<body>
	<div class="content">
    	<ul class="newsList" data-bind="foreach: data.content" >
    		
            <li>
           	    <div class="aui-he-con b-line">
                    <a href="#">
                        <h2>当地时间2017年3月28日，法国巴黎，亚裔群体在巴黎19区警察局外集会抗议。据悉，当地时间26日晚，一名旅法华侨在巴黎家中被法国便衣警察开枪射杀</h2>
                        <div class="aui-h-cn">
                            <span><img src="img/pic.jpg"></span>
                            <span><img src="img/pic.jpg"></span>
                            <span><img src="img/pic.jpg"></span>
                        </div>
                        <div class="aui-fix-zi">818体育</div>
                    </a>
                </div>
       		    <div class="" style="position:relative; width:100%">
                    <a href="#" class="aui-content-fix">
                        <div class="aui-i-title">
                            <span><img src="img/pic.jpg"></span>
                        </div>
                        <div class="aui-f-title">
                            <h2>钓鱼岛南海还不够，日本又在台湾问题上挑衅，怎能容忍！</h2>
                            <div class="aui-fix-zi">818体育</div>
                        </div>
                    </a>
                </div>
        	</li>
            <li>
           	    <div class="aui-he-con b-line">
                    <a href="#">
                        <h2>当地时间2017年3月28日，法国巴黎，亚裔群体在巴黎19区警察局外集会抗议。据悉，当地时间26日晚，一名旅法华侨在巴黎家中被法国便衣警察开枪射杀</h2>
                        <div class="aui-h-cn">
                            <span><img src="img/pic.jpg"></span>
                            <span><img src="img/pic.jpg"></span>
                            <span><img src="img/pic.jpg"></span>
                        </div>
                        <div class="aui-fix-zi">818体育</div>
                    </a>
                </div>
       		    <div class="" style="position:relative; width:100%">
                    <a href="#" class="aui-content-fix">
                        <div class="aui-i-title">
                            <span><img src="img/pic.jpg"></span>
                        </div>
                        <div class="aui-f-title">
                            <h2>钓鱼岛南海还不够，日本又在台湾问题上挑衅，怎能容忍！</h2>
                            <div class="aui-fix-zi">818体育</div>
                        </div>
                    </a>
                </div>
        	</li>
             <li>
           	    <div class="aui-he-con b-line">
                    <a href="#">
                        <h2>当地时间2017年3月28日，法国巴黎，亚裔群体在巴黎19区警察局外集会抗议。据悉，当地时间26日晚，一名旅法华侨在巴黎家中被法国便衣警察开枪射杀</h2>
                        <div class="aui-h-cn">
                            <span><img src="img/pic.jpg"></span>
                            <span><img src="img/pic.jpg"></span>
                            <span><img src="img/pic.jpg"></span>
                        </div>
                        <div class="aui-fix-zi">818体育</div>
                    </a>
                </div>
       		    <div class="" style="position:relative; width:100%">
                    <a href="#" class="aui-content-fix">
                        <div class="aui-i-title">
                            <span><img src="img/pic.jpg"></span>
                        </div>
                        <div class="aui-f-title">
                            <h2>钓鱼岛南海还不够，日本又在台湾问题上挑衅，怎能容忍！</h2>
                            <div class="aui-fix-zi">818体育</div>
                        </div>
                    </a>
                </div>
        	</li>
             <li>
           	    <div class="aui-he-con b-line">
                    <a href="#">
                        <h2>当地时间2017年3月28日，法国巴黎，亚裔群体在巴黎19区警察局外集会抗议。据悉，当地时间26日晚，一名旅法华侨在巴黎家中被法国便衣警察开枪射杀</h2>
                        <div class="aui-h-cn">
                            <span><img src="img/pic.jpg"></span>
                            <span><img src="img/pic.jpg"></span>
                            <span><img src="img/pic.jpg"></span>
                        </div>
                        <div class="aui-fix-zi">818体育</div>
                    </a>
                </div>
       		    <div class="" style="position:relative; width:100%">
                    <a href="#" class="aui-content-fix">
                        <div class="aui-i-title">
                            <span><img src="img/pic.jpg"></span>
                        </div>
                        <div class="aui-f-title">
                            <h2>钓鱼岛南海还不够，日本又在台湾问题上挑衅，怎能容忍！</h2>
                            <div class="aui-fix-zi">818体育</div>
                        </div>
                    </a>
                </div>
        	</li>
             <li>
           	    <div class="aui-he-con b-line">
                    <a href="#">
                        <h2>当地时间2017年3月28日，法国巴黎，亚裔群体在巴黎19区警察局外集会抗议。据悉，当地时间26日晚，一名旅法华侨在巴黎家中被法国便衣警察开枪射杀</h2>
                        <div class="aui-h-cn">
                            <span><img src="img/pic.jpg"></span>
                            <span><img src="img/pic.jpg"></span>
                            <span><img src="img/pic.jpg"></span>
                        </div>
                        <div class="aui-fix-zi">818体育</div>
                    </a>
                </div>
       		    <div class="" style="position:relative; width:100%">
                    <a href="#" class="aui-content-fix">
                        <div class="aui-i-title">
                            <span><img src="img/pic.jpg"></span>
                        </div>
                        <div class="aui-f-title">
                            <h2>钓鱼岛南海还不够，日本又在台湾问题上挑衅，怎能容忍！</h2>
                            <div class="aui-fix-zi">818体育</div>
                        </div>
                    </a>
                </div>
        	</li>
        </ul>
        <!-- 分页区域  -->
        
        <div style="height:48px"></div>
        <div class="tab-bar tab-bottom" style="background:#f5f5f5; position:fixed">
            <a class="tab-button active" href="indexN.html"><i class="tab-button-icon icon icon-home"></i><span class="tab-button-txt">要闻</span></a>
            <a class="tab-button cached" href="djN.html"><i class="tab-button-icon icon icon-exhibition icon-exhibition-x"></i><span class="tab-button-txt">独家</span></a>
        </div>
    </div>
</body>

</html>
