<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>服装类</title>
<link rel="stylesheet" href="css/mui.min.css">
<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="content">
    	<!--banner start-->
		<div class="swiper-container" id="swiper-container">
			<div class="swiper-wrapper" data-bind="foreach: data.banner()">
				<div class="swiper-slide"  data-bind="attr:{'data-id':goodsId},click:function(){$parent.goDetail(goodsId)}">
					<img  data-bind="attr:{'src':images}"/>
				</div>

			</div>
			<div class="swiper-pagination pagination1"></div>
		</div>

    	<!--banner end-->
        <div class="devider t-line"></div>
        <div class="aui-nav">
		<ul class="mui-table-view mui-grid-view mui-grid-9" data-bind="foreach: data.attrs()">
			<li  class="mui-table-view-cell mui-media mui-col-sm-3 " data-bind="visible:$index()<4,if:$index()<4,attr:{'data-id':cateId},click:function(){$parent.goList(cateId,name)}">
				<a href="#">
					<span class="aui-cell-img" data-bind="attr:{'class':'aui-cell-img images'+cateId}"><img data-bind="attr:{'src':images,click:function(){$parent.changeImg(images,'images'+cateId)}}" alt=""></span>
					<div class="mui-media-body" data-bind="attr:{'class':'mui-media-body name'+cateId}" data-bind="text:name,click:function(){$parent.changeText(name,'name'+cateId)}">优选</div>
				</a>
			</li>

		</ul>
	</div>
    	<div class="devider t-line"></div>
        <div class="aui-hot t-line" data-bind="attr:{'data-id':data.homenews().did}">
            <div>
                <a data-bind="attr:{href:'/WeChatApplet/web/template/infoDetail/xq.html?did='+data.homenews().did}"><img data-bind="attr:{'src':data.homenews().fpic}" alt=""></a>
            </div>
            <h2 data-bind="text:data.homenews().dname">男神女神们读书忙 你还在继续做文盲？松茸部长</h2>
        </div>
        <div class="devider t-line"></div>
        <!--潮流搭配-->
		<div class="aui-list t-line">
		<h2 data-bind="text:data.firstClass().name,attr:{'data-id':data.firstClass().cateId}">潮流搭配</h2>
		<ul class="mui-table-view mui-grid-view"   data-bind="foreach: data.banner()">
			<li class="mui-table-view-cell mui-media mui-col-xs-3a" data-bind="attr:{'data-id':goodsId},click:function(){$parent.goDetail(goodsId)}">
				<a href="#">
					<img class="mui-media-object" data-bind="attr:{'src':images}">
					<div class="mui-media-body" data-bind="text:name">入夏套装新品</div>
				</a>
			</li>
        </ul>
	</div>
    	<div class="devider t-line"></div>
        <!--推荐列表-->
		<div class="aui-week t-line">
            <h2 data-bind="text:data.secondClass().name,attr:{'data-id':data.firstClass().cateId}">推荐列表</h2>
            <ul class="mui-table-view mui-grid-view"  data-bind="foreach: data.banner()">
                <li class="mui-table-view-cell mui-media mui-col-xs-3a" data-bind="attr:{'data-id':goodsId},click:function(){$parent.goDetail(goodsId)}">
                    <a href="productDetails.html">
                        <img class="mui-media-object"  data-bind="attr:{'src':images}">
                        <div class="mui-media-body" data-bind="text:name">入夏套装新品入夏套装新品</div>
                    </a>
                </li>

             </ul>
        </div>
        <div class="devider t-line"></div>
        <div style="height:50px"></div>
        <nav class="mui-bar mui-bar-tab">
            <div class="t-line">
                <a data-bind="click:function(){goIndex()}" class="aui-tab-item mui-active">
                    <span class="mui-icon iconHover mui-icon-home"></span>
                    <span class="mui-tab-label">首页</span>
                </a>
                <a data-bind="click:function(){goProList()}" class="aui-tab-item " >
                    <span class="mui-icon mui-icon-extra mui-icon-extra-class"></span>
                    <span class="mui-tab-label">购物</span>
                </a>
                <a data-bind="click:function(){goOrder()}" class="aui-tab-item" >
                    <span class="mui-icon mui-icon-extra mui-icon-extra-cart"></span>
                    <span class="mui-tab-label">订单</span>
                </a>
                <a data-bind="click:function(){goME()}" class="aui-tab-item" >
                    <span class="mui-icon mui-icon-extra mui-icon-extra-people"></span>
                    <span class="mui-tab-label">我的</span>
                </a>
            </div>
        </nav>
    </div>
<script src="../../js/unit.js"></script>
<script src="../../trd/requirejs/require.js"></script>
<script src="../../js/require.config.js"></script>
<script src="js/index.js"></script>


</body>
</html>
