<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>麦朵尔</title>
<link rel="stylesheet" href="css/mui.min.css">
<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="content">
    	<!--banner start-->
    	<div id="slider" class="mui-slider" >
		<div class="mui-slider-group mui-slider-loop">
			<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
			<div class="mui-slider-item mui-slider-item-duplicate">
				<a href="#">
					<img src="img/banner.jpg">
				</a>
			</div>
			<!-- 第一张 -->
			<div class="mui-slider-item">
				<a href="#">
					<img src="img/banner.jpg">
				</a>
			</div>
			<!-- 第二张 -->
			<div class="mui-slider-item">
				<a href="#">
					<img src="img/banner.jpg">
				</a>
			</div>
			<!-- 第三张 -->
			<div class="mui-slider-item">
				<a href="#">
					<img src="img/banner.jpg">
				</a>
			</div>
			<!-- 第四张 -->
			<div class="mui-slider-item">
				<a href="#">
					<img src="img/banner.jpg">
				</a>
			</div>
			<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
			<div class="mui-slider-item mui-slider-item-duplicate">
				<a href="#">
					<img src="img/banner.jpg">
				</a>
			</div>
		</div>
		<div class="mui-slider-indicator">
			<div class="mui-indicator mui-active"></div>
			<div class="mui-indicator"></div>
			<div class="mui-indicator"></div>
			<div class="mui-indicator"></div>
		</div>
	</div>
    	<!--banner end-->
		<div class="aui-list t-line">
		<ul class="mui-table-view mui-grid-view">
			<li class="mui-table-view-cell mui-media mui-col-xs-3a">
				<a href="#">
					<img class="mui-media-object" src="img/icon.jpg">
				</a>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-xs-3a">
				<a href="#">
					<img class="mui-media-object" src="img/icon1.jpg">
				</a>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-xs-3a">
				<a href="#">
					<img class="mui-media-object" src="img/icon1-1.jpg">
				</a>
			</li>		
         </ul>
	</div>
        <!--新品发布-->
		<div class="aui-week t-line">
            <h2><div class="zTitle">新品发布</div><div class="fTitle">/ NEW PRODUCT </div><div class="moreBnt"><img src="img/icon2.png"></div></h2>
            <ul class="mui-table-view mui-grid-view">
                <li class="mui-table-view-cell mui-media mui-col-xs-3a">
                    <a href="#">
                        <img class="mui-media-object" src="img/pic1.jpg">
                        <div class="mui-media-body">饶家驹麦朵尔黄铜压制版</div>
                        <div class="mui-media-body jgPice">
                        	<div class="jgL"><div class="jqfh">¥</div>800</div>
                        </div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3a">
                    <a href="#">
                        <img class="mui-media-object" src="img/pic1.jpg">
                        <div class="mui-media-body">饶家驹麦朵尔黄铜压制版</div>
                        <div class="mui-media-body jgPice">
                        	<div class="jgL"><div class="jqfh">¥</div>800</div>
                        </div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3a">
                    <a href="#">
                        <img class="mui-media-object" src="img/pic1.jpg">
                        <div class="mui-media-body">饶家驹麦朵尔黄铜压制版</div>
                        <div class="mui-media-body jgPice">
                        	<div class="jgL"><div class="jqfh">¥</div>800</div>
                        </div>
                    </a>
                </li>	
             </ul>
        </div>
        <div class="devider t-line"></div>
        <!--百家姓系列-->
		<div class="aui-week t-line">
            <h2><div class="zTitle">百家姓系列</div><div class="fTitle">/ FAMILY NAMES </div><div class="moreBnt"><img src="img/icon2.png"></div></h2>
            <ul class="mui-table-view mui-grid-view">
                <li class="mui-table-view-cell mui-media mui-col-xs-3a">
                    <a href="#">
                        <img class="mui-media-object" src="img/pic1.jpg">
                        <div class="mui-media-body">饶家驹麦朵尔黄铜压制版</div>
                        <div class="mui-media-body jgPice">
                        	<div class="jgL"><div class="jqfh">¥</div>800</div>
                        </div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3a">
                    <a href="#">
                        <img class="mui-media-object" src="img/pic1.jpg">
                        <div class="mui-media-body">饶家驹麦朵尔黄铜压制版</div>
                        <div class="mui-media-body jgPice">
                        	<div class="jgL"><div class="jqfh">¥</div>800</div>
                        </div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3a">
                    <a href="#">
                        <img class="mui-media-object" src="img/pic1.jpg">
                        <div class="mui-media-body">饶家驹麦朵尔黄铜压制版</div>
                        <div class="mui-media-body jgPice">
                        	<div class="jgL"><div class="jqfh">¥</div>800</div>
                        </div>
                    </a>
                </li>	
             </ul>
        </div>
        <div class="devider t-line"></div>
        <!--会员专享-->
		<div class="aui-week t-line">
            <h2><div class="zTitle">会员专享</div><div class="fTitle">/ MEMBER ZONE </div><div class="moreBnt"><img src="img/icon2.png"></div></h2>
            <ul class="mui-table-view mui-grid-view">
                <li class="mui-table-view-cell mui-media mui-col-xs-3a">
                    <a href="#">
                        <img class="mui-media-object" src="img/pic1.jpg">
                        <div class="mui-media-body">饶家驹麦朵尔黄铜压制版</div>
                        <div class="mui-media-body jgPice">
                        	<div class="jgL"><div class="jqfh">¥</div>800</div>
                        </div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3a">
                    <a href="#">
                        <img class="mui-media-object" src="img/pic1.jpg">
                        <div class="mui-media-body">饶家驹麦朵尔黄铜压制版</div>
                        <div class="mui-media-body jgPice">
                        	<div class="jgL"><div class="jqfh">¥</div>800</div>
                        </div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3a">
                    <a href="#">
                        <img class="mui-media-object" src="img/pic1.jpg">
                        <div class="mui-media-body">饶家驹麦朵尔黄铜压制版</div>
                        <div class="mui-media-body jgPice">
                        	<div class="jgL"><div class="jqfh">¥</div>800</div>
                        </div>
                    </a>
                </li>	
             </ul>
        </div>
        <div class="devider t-line"></div>
        <div style="height:50px"></div>
        <nav class="mui-bar mui-bar-tab">
            <div class="t-line">
                <a href="indexN.html" class="aui-tab-item mui-active">
                    <span class="mui-icon iconHover mui-icon-home"></span>
                    <span class="mui-tab-label">首页</span>
                </a>
                <a href="../../product/module/spList.html" class="aui-tab-item" >
                    <span class="mui-icon mui-icon-extra mui-icon-extra-class"></span>
                    <span class="mui-tab-label">分类</span>
				</a>
				<a class="aui-tab-item" href="../../product/module/myOrder.html">
                    <span class="mui-icon mui-icon-extra mui-icon-extra-cart"></span>
                    <span class="mui-tab-label">订单</span>
                </a>
                <a class="aui-tab-item" href="../../product/module/me.html">
                    <span class="mui-icon mui-icon-extra mui-icon-extra-people"></span>
                    <span class="mui-tab-label">我的</span>
                </a>
            </div>
        </nav>
    </div>
<script src="js/mui.min.js"></script>
<script type="text/javascript" charset="utf-8">
    mui.init({
        swipeBack:true //启用右滑关闭功能
    });
    var slider = mui("#slider");
    document.getElementById("switch").addEventListener('toggle', function(e) {
        if (e.detail.isActive) {
            slider.slider({
                interval: 5000
            });
        } else {
            slider.slider({
                interval: 0
            });
        }
    });
</script>
<script>
    mui.init();
</script>
</body>
</html>
