<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>服装类</title>
<link rel="stylesheet" href="css/mui.min.css">
<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="content heighAoto">
        <div class="gwcBnt"><div onclick="window.history.go(-1);" class="mui-icon mui-icon-back"></div><a href="#" class="bugIcon"><img src="img/icon1-5.png"></a></div>

        <ul class="addressCon">
        	<li>
            	<div class="dzxmLine">
                	<div class="nameLine"><span>龙晨</span><p>1870000000</p></div>
                    <div class="xxdz">北京市海淀区北京市海淀区学院南路15号北发大厦B座4层天下互联（北京）科技有限公司</div>
                </div>
                <div class="czLine">
                	<div class="mrdz mrdzA"><em></em>默认地址</div>
                    <div class="sccz">
                    	<span><em><img src="img/icon3-3.png"></em>编辑</span>
                        <span><em><img src="img/icon3-4.png"></em>删除</span>
                    </div>
                </div>
            </li>
            <li>
            	<div class="dzxmLine">
                	<div class="nameLine"><span>龙晨</span><p>1870000000</p></div>
                    <div class="xxdz">北京市海淀区北京市海淀区学院南路15号北发大厦B座4层天下互联（北京）科技有限公司</div>
                </div>
                <div class="czLine">
                	<div class="mrdz"><em></em>设为默认</div>
                    <div class="sccz">
                    	<span><em><img src="img/icon3-3.png"></em>编辑</span>
                        <span><em><img src="img/icon3-4.png"></em>删除</span>
                    </div>
                </div>
            </li>
            <li>
            	<div class="dzxmLine">
                	<div class="nameLine"><span>龙晨</span><p>1870000000</p></div>
                    <div class="xxdz">北京市海淀区北京市海淀区学院南路15号北发大厦B座4层天下互联（北京）科技有限公司</div>
                </div>
                <div class="czLine">
                	<div class="mrdz"><em></em>设为默认</div>
                    <div class="sccz">
                    	<span><em><img src="img/icon3-3.png"></em>编辑</span>
                        <span><em><img src="img/icon3-4.png"></em>删除</span>
                    </div>
                </div>
            </li>
            <li>
            	<div class="dzxmLine">
                	<div class="nameLine"><span>龙晨</span><p>1870000000</p></div>
                    <div class="xxdz">北京市海淀区北京市海淀区学院南路15号北发大厦B座4层天下互联（北京）科技有限公司</div>
                </div>
                <div class="czLine">
                	<div class="mrdz"><em></em>设为默认</div>
                    <div class="sccz">
                    	<span><em><img src="img/icon3-3.png"></em>编辑</span>
                        <span><em><img src="img/icon3-4.png"></em>删除</span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="adddzBnt"><a href="addNewdz.html">添加新地址</a></div>
    </div>
	<script src="js/mui.min.js"></script>
</body>
</html>
