<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>服装类</title>
<link rel="stylesheet" href="css/mui.min.css">
<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="content bgfff">
        <div class="gwcBnt"><div onclick="window.history.go(-1);" class="mui-icon mui-icon-back"></div><a href="#" class="bugIcon"><img src="img/icon1-5.png"></a></div>
        <div class="evalCon">
        	<input type="text" class="pjTitle" placeholder="标题">
            <textarea name="" cols="" rows="" class="pjCon" placeholder="话题内容"></textarea>
            <form name="form0" id="form0" ><div class="picyl"><img src="" id="img0" ></div>
<div class="upload-img"><input type="file" name="file0" id="file0" class="sctp" multiple /><div class="sczp"><img src="img/ico08.png" alt="上传照片" title=""></div></div>
</form>
        </div>
        <div class="fbBnt">发 布</div>
    </div>
<script src="js/mui.min.js"></script>
</body>
</html>
