<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>服装类</title>
<link rel="stylesheet" href="css/mui.min.css">
<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="content bgfff">
        <div class="gwcBnt"><div onclick="window.history.go(-1);" class="mui-icon mui-icon-back"></div><a href="#" class="bugIcon"><img src="img/icon1-5.png"></a></div>

        <div class="aboutUsCon">
        	<div class="aboutUsTitle"><span>领券</span></div>
            <div class="yhqLineA">
            	<ul class="djqList">
                	<li class="wsy">¥ <em>10</em> 元 <i class="ylqIcon"></i></li>
                    <li class="wsy">¥ <em>3</em> 元 <i class="ljlqIcon"></i></li>
                </ul>
            </div>
        </div>
    </div>
<script src="js/mui.min.js"></script>
</body>
</html>
