<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>服装类</title>
<link rel="stylesheet" href="css/mui.min.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/jquery.spinner.css" />
</head>

<body>
	<div class="content posRel">
    	<div class="gwcBnt"><a href="#" class="bugIcon"><img src="img/icon1-5.png"></a></div>
    	<div class="cpPic"><img src="img/pic1-1.jpg"></div>
        <div class="aui-nav xqTitle">
            <div class="titLine">
            	<h1 class="titTxt">简约新款</h1>
                <div class="jgLine">
                	<span class="price">￥36.00</span>
                    <span class="sales">销量：12345</span>
                </div>
            </div>
            <div class="qtxxLine">
            	<span>运费：免运费</span>
                <span>库存：161</span>
            </div>
        </div>
    	<div class="devider t-line"></div>
        <!--产品评价-->
        <div class="aui-hot t-line">
            <h2 class="cpplTitle">
            	产品评价
                <a href="#" class="morePl">查看产品全部评论 ></a>
            </h2>
            <ul class="plList">
            	<li>
                	<h3 class="mjxx">
                    	<span class="mjxxLeft">买家甲</span>
                        <span class="timeRight">2017/1/13</span>
                    </h3>
                    <p class="plxq">东西收到，很满意!!真的是超级好的卖家，解答疑问不厌其烦，细致认真，关键是东西好， 而且货物发得超快，包装仔细，值得信赖!</p>
                    <div class="picList">
                    	<span><img src="img/pic1.jpg"></span>
                        <span><img src="img/pic1.jpg"></span>
                        <span><img src="img/pic1.jpg"></span>
                    </div>
                </li>
                <li>
                	<h3 class="mjxx">
                    	<span class="mjxxLeft">买家甲</span>
                        <span class="timeRight">2017/1/13</span>
                    </h3>
                    <p class="plxq">东西收到，很满意!!真的是超级好的卖家，解答疑问不厌其烦，细致认真，关键是东西好， 而且货物发得超快，包装仔细，值得信赖!</p>
                    <div class="picList">
                    	<span><img src="img/pic1.jpg"></span>
                        <span><img src="img/pic1.jpg"></span>
                        <span><img src="img/pic1.jpg"></span>
                    </div>
                </li>
            </ul>
            <h2 class="cpplTitle cpxqTitle">
            	产品详情
            </h2>
            <div class="cpxqCon">
            	<span><img src="img/pic1-1.jpg"></span>
                <span><img src="img/pic1-1.jpg"></span>
            </div>
        </div>
        <div style="height:50px"></div>
        <nav class="mui-bar mui-bar-tab buyBar">
            <div class="buyBntList">
            	<span class="buyBnt jrgwc"><a onClick="toshare()" href="#">加入购物车</a></span>
                <span class="buyBnt ljgm"><a onClick="toshareB()" href="#">立即购买</a></span>
            </div>
        </nav>
        <div class="jfcgTip">加入成功</div>
    </div>
    
<script src="js/mui.min.js"></script>

</body>
</html>
