<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>服装类</title>
<link rel="stylesheet" href="css/mui.min.css">
<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="content bgfff">
        <!--商品分类-->
		<div class="aui-week t-line">
            <h2><span>商品分类</span></h2>
            <ul class="mui-table-view mui-grid-view" data-bind="foreach: data.list()">
                <li class="mui-table-view-cell mui-media mui-col-xs-3a"  data-bind="attr:{'data-id':id}">
                    <a data-bind="attr:{'class':'logo'+id}" >
                        <img class="mui-media-object" data-bind="attr:{'src':logo},click:function(){$parent.changeImg(logo,'logo'+id,id)}">
                        <div class="mui-media-body" data-bind="attr:{'class':'mui-media-body name'+id},text:name,click:function(){$parent.changeText(name,'name'+id,id)}"></div>
                    </a>
                </li>

             </ul>
        </div>
        <div style="height:50px"></div>
        <nav class="mui-bar mui-bar-tab">
            <div class="t-line">
                <a data-bind="click:function(){goIndex()}" class="aui-tab-item">
                    <span class="mui-icon iconHover mui-icon-home"></span>
                    <span class="mui-tab-label">首页</span>
                </a>
                <a data-bind="click:function(){goProList()}" class="aui-tab-item mui-active" >
                    <span class="mui-icon mui-icon-extra mui-icon-extra-class"></span>
                    <span class="mui-tab-label">购物</span>
                </a>
                <a data-bind="click:function(){goOrder()}" class="aui-tab-item" >
                    <span class="mui-icon mui-icon-extra mui-icon-extra-cart"></span>
                    <span class="mui-tab-label">订单</span>
                </a>
                <a data-bind="click:function(){goME()}" class="aui-tab-item" >
                    <span class="mui-icon mui-icon-extra mui-icon-extra-people"></span>
                    <span class="mui-tab-label">我的</span>
                </a>
            </div>
        </nav>
    </div>
    <div id="GoupdateModule" data-bind="click:GoupdateModule" style="position:absolute;z-index:0; height:1px;width:1px;visibility: hidden;"></div>

<script src="../../js/unit.js"></script>
<script src="../../trd/requirejs/require.js"></script>
<script src="../../js/require.config.js"></script>
<script type="text/javascript" charset="utf-8">
    require([ 'jquery', 'knockout','dialogmin','ajaxCom','swiper'
    ], function($, ko,dialogmin,ajaxCom) {
        var listUrl  =  '/goodsAPI/getGoodsCateList';
        var UpdataUrl = '/goodsAPI/updateGoodsCate';//修改

        var viewModel = {
            data : {
                list : ko.observableArray([]),
                attrs:ko.observable({}),
                firstClass:ko.observable(""),
                secondClass:ko.observable(""),
            },

        };
        viewModel.goIndex = function(){
            window.location.href = "../tmp"+GetQueryString("tmp")+"/index.html";
        };
        viewModel.goProList = function(){
            window.location.href = "spList.html?tmp="+GetQueryString("tmp");
        };
        viewModel.goOrder = function(){
            window.location.href = "myOrder.html?tmp="+GetQueryString("tmp");
        };
        viewModel.goME = function(){
            window.location.href = "me.html?tmp="+GetQueryString("tmp");
        };
        viewModel.goList = function(id,name){
            window.location.href = "flList.html?tmp="+GetQueryString("tmp")+"&cateId=" + id+"&catename="+name;;
        };
        viewModel.changeImg =function(i,id,cateId){
        if(GetQueryString("isedit")){
            $(".picLine",parent.document).find("img").attr("src",i).attr("data-id",id);

        }else{
            window.location.href = "flList.html?tmp="+GetQueryString("tmp")+"&cateId=" + id+"&catename="+name;;
        }
        }
        viewModel.changeText =function(i,id,cateId){
            if(GetQueryString("isedit")){
                $(".xgtxt",parent.document).val(i).attr("data-id",id);
            
            }else{
            window.location.href = '../product/flList.html?tmp=6&cateId='+cateId;
            }
        }
        viewModel.GoupdateModule =function(){
        var  UParray = [];
        $(".aui-week ul").find("li").each(function(e){
            var list1data = {
                "name":$(this).find(".mui-media-body").html(),
                "logo":$(this).find("img").attr("src"),
                "id":$(this).attr("data-id"),
            }
            UParray.push(list1data)
        })
        
        var updataD = {
          attrs:UParray
        }
        $.ajax({
            type : 'post',
            dataType : 'json',
            data:{
              attrs:JSON.stringify(updataD)
            },
            url :$ctx+ UpdataUrl,
            success : function(res) {
                if(res){
                    dialogmin("保存成功")
                }
            },
            error : function(XMLHttpRequest, textStatus, errorThrown) {
                //dialogmin("调用服务报错!!");
            }
        });
    }
        viewModel.getbanner = function(){
            var queryData = {
                isIndex:0,
                userid:viewModel.userId
            };
            ajaxCom.Loadajax('GET',listUrl,queryData,function(res){
                viewModel.data.list(res.list);
                var swiper = new Swiper('#swiper-container', {
                    autoplay:3000,
                    pagination: '.pagination1',
                    paginationClickable: true,
                    mode: 'vertical'
                });
            },function(error){

                dialogmin("网络错误");
            })
        };

        viewModel.load=function(){
            viewModel.getbanner();
            viewModel.userId = GetQueryString('userid');
        }

        viewModel.load();
        ko.applyBindings(viewModel);
        function GetQueryString(name)
        {
            var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if(r!=null)return  unescape(r[2]); return null;
        };

    })
</script>

</body>
</html>
