<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>九九宏康</title>
<link rel="stylesheet" href="css/mui.min.css">
<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="content">
    	<div class="swiper-container" id="swiper-container">
			<div class="swiper-wrapper" data-bind="foreach: data.banner()">
				<div class="swiper-slide"  data-bind="attr:{'data-id':goodsId},click:function(){$parent.goDetail(goodsId)}">
					<img  data-bind="attr:{'src':images}"/>
				</div>

			</div>
			<div class="swiper-pagination pagination1"></div>
		</div>
    	<!--banner end-->
        <!--产品中心-->
        <div class="aui-list t-line">
            <h2 class="titleLine"><span>Product Center</span><em></em><p>产品中心</p></h2>
            <ul class="mui-table-view mui-grid-view">
                <li class="mui-table-view-cell mui-media mui-col-xs-3a">
                    <a href="page.html">
                        <img class="mui-media-object" src="img/pic.jpg">
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3a">
                    <a href="page.html">
                        <img class="mui-media-object" src="img/pic1.jpg">
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3a">
                    <a href="page.html">
                        <img class="mui-media-object" src="img/pic1-1.jpg">
                    </a>
                </li>		
             </ul>
        </div>
		<!--新闻中心-->
        <div class="t-line newsC">
        	<h2 class="titleLine"><span>News Center</span><em></em><p>新闻中心</p></h2>
            <ul class="newsList">
            	<li>
                	<a href="#">
                    	<div class="picLine"><img src="img/pic1-2.jpg"></div>
                        <div class="txtCon">
                        	<h3 class="newTitle">
                            	<span>减肥瘦身最新的产品上线来看看...</span>
                                <em>05-04  2017</em>
                            </h3>
                            <p>快速减肥瘦身产品全新上线，希油寿可以将您肠道油脂快速吸收，对身体健康，减肥瘦身很有帮助。</p>
                        </div>
                    </a>
                </li>
                <li>
                	<a href="#">
                    	<div class="picLine"><img src="img/pic1-2.jpg"></div>
                        <div class="txtCon">
                        	<h3 class="newTitle">
                            	<span>减肥瘦身最新的产品上线来看看...</span>
                                <em>05-04  2017</em>
                            </h3>
                            <p>快速减肥瘦身产品全新上线，希油寿可以将您肠道油脂快速吸收，对身体健康，减肥瘦身很有帮助。</p>
                        </div>
                    </a>
                </li>
                <li>
                	<a href="#">
                    	<div class="picLine"><img src="img/pic1-2.jpg"></div>
                        <div class="txtCon">
                        	<h3 class="newTitle">
                            	<span>减肥瘦身最新的产品上线来看看...</span>
                                <em>05-04  2017</em>
                            </h3>
                            <p>快速减肥瘦身产品全新上线，希油寿可以将您肠道油脂快速吸收，对身体健康，减肥瘦身很有帮助。</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!--关于我们-->
        <div class="t-line aboutUsC">
        	<h2 class="titleLine"><span>About enterprise</span><em></em><p>关于我们</p></h2>
            <div class="aboutUsCon">
            	<div class="txtConA">
                	我们企业专注于各类保健品的生产、销售，为广大客户带来健康体质的福音。是知名专业减肥常识百科网站,<br>
为网友提供各类减肥方法、减肥小妙招、减肥食谱、减肥产品 、减肥药、怎样减肥、怎么减肥、如何减肥、减肥好方法的减肥瘦身的网站!<br>
我们企业专注于各类保健品的生产、销售，为广大客户带来健康体质的福音。<br>
是知名专业减肥常识百科网站,为网友提供各类减肥方法、减肥小妙招、减肥食谱、减肥产品 、减肥药、<br>
怎样减肥、怎么减肥、如何减肥、减肥好方法的减肥瘦身的网站!我们企业专注于各类保健品的生产、销售，为广大客户带来<br>
健康体质的福音。是知名专业减肥常识百科网站。
                </div>
                <div class="moreBnt">查看详情</div>
            </div>
        </div>
        <!--联系我们-->
        <div class="t-line lxwm">
        	<div class="lxfs">
            	<em>4001 - 151161</em>
                电话：010-66666666  邮箱：jjhongkang@163.com<br>
                传真：010-66666666<br>
                <span><img src="img/ewm.jpg"></span>
                <p>Copyright 2017</p>
            </div>
        </div>
        <div class="menu" data-bind="click:function(){toshare()}"><img src="img/pic2.png"></div>
        <div style="height:50px"></div>
        <nav class="mui-bar mui-bar-tab">
            <div class="t-line">
                <a data-bind="click:function(){goIndex()}" class="aui-tab-item mui-active">
                    <span class="mui-icon iconHover mui-icon-home"></span>
                    <span class="mui-tab-label">首页</span>
                </a>
                <a data-bind="click:function(){goProList()}" class="aui-tab-item " >
                    <span class="mui-icon mui-icon-extra mui-icon-extra-class"></span>
                    <span class="mui-tab-label">购物</span>
                </a>
                <a data-bind="click:function(){goOrder()}" class="aui-tab-item" >
                    <span class="mui-icon mui-icon-extra mui-icon-extra-cart"></span>
                    <span class="mui-tab-label">订单</span>
                </a>
                <a data-bind="click:function(){goME()}" class="aui-tab-item" >
                    <span class="mui-icon mui-icon-extra mui-icon-extra-people"></span>
                    <span class="mui-tab-label">我的</span>
                </a>
            </div>
        </nav>
        <!--导航弹层-->
        <div class="am-share am-shareA">
          <nav class="nav">
          	<li><a href="#">首页</a></li>
            <li><a href="#">产品</a></li>
            <li><a href="#">新闻</a></li>
            <li><a href="#">联系我们</a></li>
          </nav> 
        </div>
    </div>
<script src="/web/js/unit.js"></script>
<script src="/web/trd/requirejs/require.js"></script>
<script src="/web/js/require.config.js"></script>
<script src="js/index.js"></script>

</body>
</html>
