<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>服装电商</title>
<link rel="stylesheet" href="css/mui.min.css">
<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="content">
    	<div class="adLine">
        	<em></em>
            <img src="img/pic.jpg">
        </div>
        <div class="adLineA">
        	<div class="hdLine">
            	<div class="hdLeft">
                	<div class="hdLline">
                    	<h3>200元红包免费派发</h3>
                        <p>关注服装微信平台，免费领取200元美丽红包</p>
                    </div>
                    <p class="tbsm">需要消费满1000元， 2017年6.26过期</p>
                </div>
                <div class="hdRight"><img src="img/ewm.jpg"></div>
            </div>
        </div>
        <div class="adLineB"><img src="img/pic1.jpg"></div>
        <!--热销-->
        <div class="aui-list t-line">
            <h2 class="titleLine"><span><em>热销篇</em>HOT RECOMMENDATION</span></h2>
            <ul class="mui-table-view mui-grid-view">
                <li class="mui-table-view-cell mui-media mui-col-xs-6">
                    <a href="page.html">
                        <img class="mui-media-object" src="img/pic2.jpg">
                        <div class="mui-media-body">2017春季新款韩版后背蝴蝶结系带短袖t恤女装半袖打底衫上衣</div>
                        <div class="mui-media-body jstk">急速退货</div>
                        <div class="mui-media-body jgPice"><em>￥ 109.0</em> 月销量  625 笔</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-6">
                    <a href="page.html">
                        <img class="mui-media-object" src="img/pic2.jpg">
                        <div class="mui-media-body">2017春季新款韩版后背蝴蝶结系带短袖t恤女装半袖打底衫上衣</div>
                        <div class="mui-media-body jstk">急速退货</div>
                        <div class="mui-media-body jgPice"><em>￥ 109.0</em> 月销量  625 笔</div>
                    </a>
                </li>
             </ul>
        </div>
		<!--T恤-->
        <div class="t-line newsC">
        	<h2 class="titleLine"><span><em>T恤篇</em>T-SHIRT RECOMMENDATION</span></h2>
            <div class="nr_tjhd_con">
                <h1 class="tuxx">
                        <span class="dq_hover">综合</span>
                        <span>销量</span>
                        <span>逛啊</span>
                        <span>店铺</span>
                    </h1>
                    <div class="tb_nr_A">
                        <div class="tb_nr_a">
                            <ul class="mui-table-view mui-grid-view">
                                <li class="mui-table-view-cell mui-media mui-col-xs-6">
                                    <a href="page.html">
                                        <img class="mui-media-object" src="img/pic2.jpg">
                                        <div class="mui-media-body">2017春季新款韩版后背蝴蝶结系带短袖t恤女装半袖打底衫上衣</div>
                                        <div class="mui-media-body jstk">急速退货</div>
                                        <div class="mui-media-body jgPice"><em>￥ 109.0</em> 月销量  625 笔</div>
                                    </a>
                                </li>
                                <li class="mui-table-view-cell mui-media mui-col-xs-6">
                                    <a href="page.html">
                                        <img class="mui-media-object" src="img/pic2.jpg">
                                        <div class="mui-media-body">2017春季新款韩版后背蝴蝶结系带短袖t恤女装半袖打底衫上衣</div>
                                        <div class="mui-media-body jstk">急速退货</div>
                                        <div class="mui-media-body jgPice"><em>￥ 109.0</em> 月销量  625 笔</div>
                                    </a>
                                </li>
                                <li class="mui-table-view-cell mui-media mui-col-xs-6">
                                    <a href="page.html">
                                        <img class="mui-media-object" src="img/pic2.jpg">
                                        <div class="mui-media-body">2017春季新款韩版后背蝴蝶结系带短袖t恤女装半袖打底衫上衣</div>
                                        <div class="mui-media-body jstk">急速退货</div>
                                        <div class="mui-media-body jgPice"><em>￥ 109.0</em> 月销量  625 笔</div>
                                    </a>
                                </li>
                                <li class="mui-table-view-cell mui-media mui-col-xs-6">
                                    <a href="page.html">
                                        <img class="mui-media-object" src="img/pic2.jpg">
                                        <div class="mui-media-body">2017春季新款韩版后背蝴蝶结系带短袖t恤女装半袖打底衫上衣</div>
                                        <div class="mui-media-body jstk">急速退货</div>
                                        <div class="mui-media-body jgPice"><em>￥ 109.0</em> 月销量  625 笔</div>
                                    </a>
                                </li>
                             </ul>
                        </div>
                        <div class="tb_nr_a hide">
                            <ul class="mui-table-view mui-grid-view">
                                <li class="mui-table-view-cell mui-media mui-col-xs-6">
                                    <a href="page.html">
                                        <img class="mui-media-object" src="img/pic2.jpg">
                                        <div class="mui-media-body">2春季新款韩版后背蝴蝶结系带短袖t恤女装半袖打底衫上衣</div>
                                        <div class="mui-media-body jstk">急速退货</div>
                                        <div class="mui-media-body jgPice"><em>￥ 109.0</em> 月销量  625 笔</div>
                                    </a>
                                </li>
                                <li class="mui-table-view-cell mui-media mui-col-xs-6">
                                    <a href="page.html">
                                        <img class="mui-media-object" src="img/pic2.jpg">
                                        <div class="mui-media-body">2017春季新款韩版后背蝴蝶结系带短袖t恤女装半袖打底衫上衣</div>
                                        <div class="mui-media-body jstk">急速退货</div>
                                        <div class="mui-media-body jgPice"><em>￥ 109.0</em> 月销量  625 笔</div>
                                    </a>
                                </li>
                                <li class="mui-table-view-cell mui-media mui-col-xs-6">
                                    <a href="page.html">
                                        <img class="mui-media-object" src="img/pic2.jpg">
                                        <div class="mui-media-body">2017春季新款韩版后背蝴蝶结系带短袖t恤女装半袖打底衫上衣</div>
                                        <div class="mui-media-body jstk">急速退货</div>
                                        <div class="mui-media-body jgPice"><em>￥ 109.0</em> 月销量  625 笔</div>
                                    </a>
                                </li>
                                <li class="mui-table-view-cell mui-media mui-col-xs-6">
                                    <a href="page.html">
                                        <img class="mui-media-object" src="img/pic2.jpg">
                                        <div class="mui-media-body">2017春季新款韩版后背蝴蝶结系带短袖t恤女装半袖打底衫上衣</div>
                                        <div class="mui-media-body jstk">急速退货</div>
                                        <div class="mui-media-body jgPice"><em>￥ 109.0</em> 月销量  625 笔</div>
                                    </a>
                                </li>
                             </ul>
                        </div>
                        <div class="tb_nr_a hide">
                            <ul class="mui-table-view mui-grid-view">
                                <li class="mui-table-view-cell mui-media mui-col-xs-6">
                                    <a href="page.html">
                                        <img class="mui-media-object" src="img/pic2.jpg">
                                        <div class="mui-media-body">3春季新款韩版后背蝴蝶结系带短袖t恤女装半袖打底衫上衣</div>
                                        <div class="mui-media-body jstk">急速退货</div>
                                        <div class="mui-media-body jgPice"><em>￥ 109.0</em> 月销量  625 笔</div>
                                    </a>
                                </li>
                                <li class="mui-table-view-cell mui-media mui-col-xs-6">
                                    <a href="page.html">
                                        <img class="mui-media-object" src="img/pic2.jpg">
                                        <div class="mui-media-body">2017春季新款韩版后背蝴蝶结系带短袖t恤女装半袖打底衫上衣</div>
                                        <div class="mui-media-body jstk">急速退货</div>
                                        <div class="mui-media-body jgPice"><em>￥ 109.0</em> 月销量  625 笔</div>
                                    </a>
                                </li>
                                <li class="mui-table-view-cell mui-media mui-col-xs-6">
                                    <a href="page.html">
                                        <img class="mui-media-object" src="img/pic2.jpg">
                                        <div class="mui-media-body">2017春季新款韩版后背蝴蝶结系带短袖t恤女装半袖打底衫上衣</div>
                                        <div class="mui-media-body jstk">急速退货</div>
                                        <div class="mui-media-body jgPice"><em>￥ 109.0</em> 月销量  625 笔</div>
                                    </a>
                                </li>
                                <li class="mui-table-view-cell mui-media mui-col-xs-6">
                                    <a href="page.html">
                                        <img class="mui-media-object" src="img/pic2.jpg">
                                        <div class="mui-media-body">2017春季新款韩版后背蝴蝶结系带短袖t恤女装半袖打底衫上衣</div>
                                        <div class="mui-media-body jstk">急速退货</div>
                                        <div class="mui-media-body jgPice"><em>￥ 109.0</em> 月销量  625 笔</div>
                                    </a>
                                </li>
                             </ul>
                        </div>
                        <div class="tb_nr_a hide">
                            <ul class="mui-table-view mui-grid-view">
                                <li class="mui-table-view-cell mui-media mui-col-xs-6">
                                    <a href="page.html">
                                        <img class="mui-media-object" src="img/pic2.jpg">
                                        <div class="mui-media-body">4春季新款韩版后背蝴蝶结系带短袖t恤女装半袖打底衫上衣</div>
                                        <div class="mui-media-body jstk">急速退货</div>
                                        <div class="mui-media-body jgPice"><em>￥ 109.0</em> 月销量  625 笔</div>
                                    </a>
                                </li>
                                <li class="mui-table-view-cell mui-media mui-col-xs-6">
                                    <a href="page.html">
                                        <img class="mui-media-object" src="img/pic2.jpg">
                                        <div class="mui-media-body">2017春季新款韩版后背蝴蝶结系带短袖t恤女装半袖打底衫上衣</div>
                                        <div class="mui-media-body jstk">急速退货</div>
                                        <div class="mui-media-body jgPice"><em>￥ 109.0</em> 月销量  625 笔</div>
                                    </a>
                                </li>
                                <li class="mui-table-view-cell mui-media mui-col-xs-6">
                                    <a href="page.html">
                                        <img class="mui-media-object" src="img/pic2.jpg">
                                        <div class="mui-media-body">2017春季新款韩版后背蝴蝶结系带短袖t恤女装半袖打底衫上衣</div>
                                        <div class="mui-media-body jstk">急速退货</div>
                                        <div class="mui-media-body jgPice"><em>￥ 109.0</em> 月销量  625 笔</div>
                                    </a>
                                </li>
                                <li class="mui-table-view-cell mui-media mui-col-xs-6">
                                    <a href="page.html">
                                        <img class="mui-media-object" src="img/pic2.jpg">
                                        <div class="mui-media-body">2017春季新款韩版后背蝴蝶结系带短袖t恤女装半袖打底衫上衣</div>
                                        <div class="mui-media-body jstk">急速退货</div>
                                        <div class="mui-media-body jgPice"><em>￥ 109.0</em> 月销量  625 笔</div>
                                    </a>
                                </li>
                             </ul>
                        </div>
                    </div>
            </div>
        </div>
        <div style="height:50px"></div>
        <nav class="mui-bar mui-bar-tab">
            <div class="t-line">
                <a href="index.html" class="aui-tab-item mui-active">
                    <span class="mui-icon iconHover mui-icon-home"></span>
                    <span class="mui-tab-label">首页</span>
                </a>
                <a href="flList.html" class="aui-tab-item" >
                    <span class="mui-icon mui-icon-extra mui-icon-extra-class"></span>
                    <span class="mui-tab-label">品牌</span>
                </a>
                <a class="aui-tab-item" href="#">
                    <span class="mui-icon mui-icon-extra mui-icon-extra-cart"></span>
                    <span class="mui-tab-label">购物车</span>
                </a>
                <a class="aui-tab-item" href="#">
                    <span class="mui-icon mui-icon-extra mui-icon-extra-people"></span>
                    <span class="mui-tab-label">我的</span>
                </a>
            </div>
        </nav>
    </div>
<script src="js/mui.min.js"></script>
<script type="text/javascript" src="js/jquery-1.8.0.min.js"></script>
<script>
$(function(){
	    var $div_li =$(".tuxx span");
	    $div_li.click(function(){
			$(this).addClass("dq_hover")            //当前<li>元素高亮
				   .siblings().removeClass("dq_hover");  //去掉其他同辈<li>元素的高亮
            var index =  $div_li.index(this);  // 获取当前点击的<li>元素 在 全部li元素中的索引。
			$("div.tb_nr_A > div")   	//选取子节点。不选取子节点的话，会引起错误。如果里面还有div 
					.eq(index).show()   //显示 <li>元素对应的<div>元素
					.siblings().hide(); //隐藏其他几个同辈的<div>元素
		}).hover(function(){
			$(this).addClass("hover");
		},function(){
			$(this).removeClass("hover");
		});
		var tbWidth = $(".xxsj").width();
		$("#tb_tub2").width(tbWidth);
		$("#tb_tubpie").width(tbWidth);
})
</script>
</body>
</html>
