<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>天下新闻</title>
<link rel="stylesheet" href="css/mui.min.css">
<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="content">
    	<div class="find_nav">
    <div class="find_nav_left">
        <div class="find_nav_list" id="pagenavi1">
            <ul>
        
                <li><a href="#" class="active">鲜花订阅</a></li>
                <li><a href="#">保洁保养</a></li>
                <li><a href="#">保姆月嫂</a></li>
                <li><a href="#">上门推拿</a></li>
                <li class="sideline"></li>
            </ul>

        </div>
    </div>
</div>
        <div id="slider1" class="swipe">
              <ul class="box01_list">
                <li class="li_list">
                	<div class="mui-table-view mui-grid-view">
                        <div class="mui-table-view-cell mui-media mui-col-xs-6">
                            <a href="page.html">
                                <img class="mui-media-object" src="img/pic1.jpg">
                                <div class="mui-media-body">上门保洁-房间彻底清理</div>
                                <div class="mui-media-body jgPice">¥186/次</div>
                            </a>
                        </div>
                        <div class="mui-table-view-cell mui-media mui-col-xs-6">
                            <a href="page.html">
                                <img class="mui-media-object" src="img/pic1.jpg">
                                <div class="mui-media-body">上门保洁-房间彻底清理</div>
                                <div class="mui-media-body jgPice">¥186/次</div>
                            </a>
                        </div>
                        <div class="mui-table-view-cell mui-media mui-col-xs-6">
                            <a href="page.html">
                                <img class="mui-media-object" src="img/pic1.jpg">
                                <div class="mui-media-body">上门保洁-房间彻底清理</div>
                                <div class="mui-media-body jgPice">¥186/次</div>
                            </a>
                        </div>	
                        <div class="mui-table-view-cell mui-media mui-col-xs-6">
                            <a href="page.html">
                                <img class="mui-media-object" src="img/pic1.jpg">
                                <div class="mui-media-body">上门保洁-房间彻底清理</div>
                                <div class="mui-media-body jgPice">¥186/次</div>
                            </a>
                        </div>
                        <div class="mui-table-view-cell mui-media mui-col-xs-6">
                            <a href="page.html">
                                <img class="mui-media-object" src="img/pic1.jpg">
                                <div class="mui-media-body">上门保洁-房间彻底清理</div>
                                <div class="mui-media-body jgPice">¥186/次</div>
                            </a>
                        </div>
                        <div class="mui-table-view-cell mui-media mui-col-xs-6">
                            <a href="page.html">
                                <img class="mui-media-object" src="img/pic1.jpg">
                                <div class="mui-media-body">上门保洁-房间彻底清理</div>
                                <div class="mui-media-body jgPice">¥186/次</div>
                            </a>
                        </div>	
                     </div>
                </li>
                <li class="li_list">
                	<div class="mui-table-view mui-grid-view">
                        <div class="mui-table-view-cell mui-media mui-col-xs-6">
                            <a href="page.html">
                                <img class="mui-media-object" src="img/pic1.jpg">
                                <div class="mui-media-body">保洁保养-房间彻底清理</div>
                                <div class="mui-media-body jgPice">¥186/次</div>
                            </a>
                        </div>
                        <div class="mui-table-view-cell mui-media mui-col-xs-6">
                            <a href="page.html">
                                <img class="mui-media-object" src="img/pic1.jpg">
                                <div class="mui-media-body">上门保洁-房间彻底清理</div>
                                <div class="mui-media-body jgPice">¥186/次</div>
                            </a>
                        </div>
                        <div class="mui-table-view-cell mui-media mui-col-xs-6">
                            <a href="page.html">
                                <img class="mui-media-object" src="img/pic1.jpg">
                                <div class="mui-media-body">上门保洁-房间彻底清理</div>
                                <div class="mui-media-body jgPice">¥186/次</div>
                            </a>
                        </div>	
                        <div class="mui-table-view-cell mui-media mui-col-xs-6">
                            <a href="page.html">
                                <img class="mui-media-object" src="img/pic1.jpg">
                                <div class="mui-media-body">上门保洁-房间彻底清理</div>
                                <div class="mui-media-body jgPice">¥186/次</div>
                            </a>
                        </div>
                        <div class="mui-table-view-cell mui-media mui-col-xs-6">
                            <a href="page.html">
                                <img class="mui-media-object" src="img/pic1.jpg">
                                <div class="mui-media-body">上门保洁-房间彻底清理</div>
                                <div class="mui-media-body jgPice">¥186/次</div>
                            </a>
                        </div>
                        <div class="mui-table-view-cell mui-media mui-col-xs-6">
                            <a href="page.html">
                                <img class="mui-media-object" src="img/pic1.jpg">
                                <div class="mui-media-body">上门保洁-房间彻底清理</div>
                                <div class="mui-media-body jgPice">¥186/次</div>
                            </a>
                        </div>	
                     </div>
                </li>
                <li class="li_list">
                	<div class="mui-table-view mui-grid-view">
                        <div class="mui-table-view-cell mui-media mui-col-xs-6">
                            <a href="page.html">
                                <img class="mui-media-object" src="img/pic1.jpg">
                                <div class="mui-media-body">保姆月嫂-房间彻底清理</div>
                                <div class="mui-media-body jgPice">¥186/次</div>
                            </a>
                        </div>
                        <div class="mui-table-view-cell mui-media mui-col-xs-6">
                            <a href="page.html">
                                <img class="mui-media-object" src="img/pic1.jpg">
                                <div class="mui-media-body">上门保洁-房间彻底清理</div>
                                <div class="mui-media-body jgPice">¥186/次</div>
                            </a>
                        </div>
                        <div class="mui-table-view-cell mui-media mui-col-xs-6">
                            <a href="page.html">
                                <img class="mui-media-object" src="img/pic1.jpg">
                                <div class="mui-media-body">上门保洁-房间彻底清理</div>
                                <div class="mui-media-body jgPice">¥186/次</div>
                            </a>
                        </div>	
                        <div class="mui-table-view-cell mui-media mui-col-xs-6">
                            <a href="page.html">
                                <img class="mui-media-object" src="img/pic1.jpg">
                                <div class="mui-media-body">上门保洁-房间彻底清理</div>
                                <div class="mui-media-body jgPice">¥186/次</div>
                            </a>
                        </div>
                        <div class="mui-table-view-cell mui-media mui-col-xs-6">
                            <a href="page.html">
                                <img class="mui-media-object" src="img/pic1.jpg">
                                <div class="mui-media-body">上门保洁-房间彻底清理</div>
                                <div class="mui-media-body jgPice">¥186/次</div>
                            </a>
                        </div>
                        <div class="mui-table-view-cell mui-media mui-col-xs-6">
                            <a href="page.html">
                                <img class="mui-media-object" src="img/pic1.jpg">
                                <div class="mui-media-body">上门保洁-房间彻底清理</div>
                                <div class="mui-media-body jgPice">¥186/次</div>
                            </a>
                        </div>	
                     </div>
                </li>
                <li class="li_list">
                	<div class="mui-table-view mui-grid-view">
                        <div class="mui-table-view-cell mui-media mui-col-xs-6">
                            <a href="page.html">
                                <img class="mui-media-object" src="img/pic1.jpg">
                                <div class="mui-media-body">上门推拿-房间彻底清理</div>
                                <div class="mui-media-body jgPice">¥186/次</div>
                            </a>
                        </div>
                        <div class="mui-table-view-cell mui-media mui-col-xs-6">
                            <a href="page.html">
                                <img class="mui-media-object" src="img/pic1.jpg">
                                <div class="mui-media-body">上门保洁-房间彻底清理</div>
                                <div class="mui-media-body jgPice">¥186/次</div>
                            </a>
                        </div>
                        <div class="mui-table-view-cell mui-media mui-col-xs-6">
                            <a href="page.html">
                                <img class="mui-media-object" src="img/pic1.jpg">
                                <div class="mui-media-body">上门保洁-房间彻底清理</div>
                                <div class="mui-media-body jgPice">¥186/次</div>
                            </a>
                        </div>	
                        <div class="mui-table-view-cell mui-media mui-col-xs-6">
                            <a href="page.html">
                                <img class="mui-media-object" src="img/pic1.jpg">
                                <div class="mui-media-body">上门保洁-房间彻底清理</div>
                                <div class="mui-media-body jgPice">¥186/次</div>
                            </a>
                        </div>
                        <div class="mui-table-view-cell mui-media mui-col-xs-6">
                            <a href="page.html">
                                <img class="mui-media-object" src="img/pic1.jpg">
                                <div class="mui-media-body">上门保洁-房间彻底清理</div>
                                <div class="mui-media-body jgPice">¥186/次</div>
                            </a>
                        </div>
                        <div class="mui-table-view-cell mui-media mui-col-xs-6">
                            <a href="page.html">
                                <img class="mui-media-object" src="img/pic1.jpg">
                                <div class="mui-media-body">上门保洁-房间彻底清理</div>
                                <div class="mui-media-body jgPice">¥186/次</div>
                            </a>
                        </div>	
                     </div>
                </li>
              </ul>
        
            </div>
        <div style="height:50px"></div>
        <nav class="mui-bar mui-bar-tab">
            <div class="t-line">
                <a href="index.html" class="aui-tab-item">
                    <span class="mui-icon iconHover mui-icon-home"></span>
                    <span class="mui-tab-label">首页</span>
                </a>
                <a href="flList.html" class="aui-tab-item mui-active" >
                    <span class="mui-icon mui-icon-extra mui-icon-extra-class"></span>
                    <span class="mui-tab-label">分类</span>
                </a>
                <a class="aui-tab-item" href="#">
                    <span class="mui-icon mui-icon-extra mui-icon-extra-cart"></span>
                    <span class="mui-tab-label">订单</span>
                </a>
                <a class="aui-tab-item" href="#">
                    <span class="mui-icon mui-icon-extra mui-icon-extra-people"></span>
                    <span class="mui-tab-label">我的</span>
                </a>
            </div>
        </nav>
    </div>
    
    <script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/touchslider.js"></script>
<script type="text/javascript">
$(".find_nav_list").css("left",0);

$(".find_nav_list li").each(function(){
		$(".sideline").css({left:0});
		$(".find_nav_list li").eq(0).addClass("find_nav_cur").siblings().removeClass("find_nav_cur");
});
var nav_w=$(".find_nav_list li").first().width();
$(".sideline").width(nav_w);
$(".find_nav_list li").on('click', function(){
	nav_w=$(this).width();
	$(".sideline").stop(true);
	$(".sideline").animate({left:$(this).position().left},300);
	$(".sideline").animate({width:nav_w});
	$(this).addClass("find_nav_cur").siblings().removeClass("find_nav_cur");
	var fn_w = ($(".find_nav").width() - nav_w) / 2;
	var fnl_l;
	var fnl_x = parseInt($(this).position().left);
	if (fnl_x <= fn_w) {
		fnl_l = 0;
	} else if (fn_w - fnl_x <= flb_w - fl_w) {
		fnl_l = flb_w - fl_w;
	} else {
		fnl_l = fn_w - fnl_x;
	}
	$(".find_nav_list").animate({
		"left" : fnl_l
	}, 300);
	
});
var fl_w=$(".find_nav_list").width();
var flb_w=$(".find_nav_left").width();
$(".find_nav_list").on('touchstart', function (e) {
	var touch1 = e.originalEvent.targetTouches[0];
	x1 = touch1.pageX;
	y1 = touch1.pageY;
	ty_left = parseInt($(this).css("left"));
});
$(".find_nav_list").on('touchmove', function (e) {
	var touch2 = e.originalEvent.targetTouches[0];
	var x2 = touch2.pageX;
	var y2 = touch2.pageY;
	if(ty_left + x2 - x1>=0){
		$(this).css("left", 0);
	}else if(ty_left + x2 - x1<=flb_w-fl_w){
		$(this).css("left", flb_w-fl_w);
	}else{
		$(this).css("left", ty_left + x2 - x1);
	}
	if(Math.abs(y2-y1)>0){
		e.preventDefault();
	}
});


for(n=1;n<9;n++){
	var page='pagenavi'+n;
	var mslide='slider'+n;
	var mtitle='emtitle'+n;
	arrdiv = 'arrdiv' + n;
	var as=document.getElementById(page).getElementsByTagName('a');
	var tt=new TouchSlider({id:mslide,'auto':'-1',fx:'ease-out',direction:'left',speed:600,timeout:5000,'before':function(index){
		var as=document.getElementById(this.page).getElementsByTagName('a');
		as[this.p].className='';
		this.p=index;
		
		fnl_x =  parseInt($(".find_nav_list li").eq(this.p).position().left);
		
		nav_w=$(".find_nav_list li").eq(this.p).width();
		$(".sideline").stop(true);
		$(".sideline").animate({left:$(".find_nav_list li").eq(this.p).position().left},300);
		$(".sideline").animate({width:nav_w},100);
		$(".find_nav_list li").eq(this.p).addClass("find_nav_cur").siblings().removeClass("find_nav_cur");
		var fn_w = ($(".find_nav").width() - nav_w) / 2;
		var fnl_l;
		if (fnl_x <= fn_w) {
			fnl_l = 0;
		} else if (fn_w - fnl_x <= flb_w - fl_w) {
			fnl_l = flb_w - fl_w;
		} else {
			fnl_l = fn_w - fnl_x;
		}
		$(".find_nav_list").animate({
			"left" : fnl_l
		}, 300);
	}});
	tt.page = page;
	tt.p = 0;
	//console.dir(tt); console.dir(tt.__proto__);

	for(var i=0;i<as.length;i++){
		(function(){
			var j=i;
			as[j].tt = tt;
			as[j].onclick=function(){
				this.tt.slide(j);
				return false;
			}
		})();
	}
}
</script>
</body>
</html>
