<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>服装类</title>
<link rel="stylesheet" href="css/mui.min.css">
<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="content">
        <div class="swiper-container" id="swiper-container">
            <div class="swiper-wrapper" data-bind="foreach: data.banner()">
                <div class="swiper-slide"  data-bind="attr:{'data-id':goodsId},click:function(){$parent.goDetail(goodsId)}">
                    <img  data-bind="attr:{'src':images}"/>
                </div>

            </div>
            <div class="swiper-pagination pagination1"></div>
        </div>
    	<!--banner end-->
        <div class="aui-nav">
		<ul class="mui-table-view mui-grid-view mui-grid-9"  data-bind="foreach: data.attrs().nav">
			<li class="mui-table-view-cell mui-media mui-col-sm-3 " data-bind="attr:{'data-id':cateId},click:function(){$parent.goList(cateId,name)}">
				<a href="#" >
					<span class="aui-cell-img"><img  data-bind="attr:{'src':img}" alt=""></span>
					<div class="mui-media-body" data-bind="text:name">鲜花订阅</div>
				</a>
			</li>

		</ul>
	</div>
        <div class="lineCon t-line">
             <img data-bind="attr:{'src':data.bannerMid()}"  alt="">
        </div>
		<div class="aui-week t-line">
            <ul class="mui-table-view mui-grid-view"  data-bind="foreach: data.list3()">
                <li class="mui-table-view-cell mui-media mui-col-xs-6" data-bind="attr:{'data-id':goodsId},click:function(){$parent.goDetail(goodsId)}">
                    <a href="page.html">
                        <img class="mui-media-object" data-bind="attr:{'src':images}">
                        <div class="mui-media-body" data-bind="text:name">上门保洁-房间彻底清理</div>
                        <div class="mui-media-body jgPice">¥<d data-bind="text:price"></d>/次</div>
                    </a>
                </li>

             </ul>
        </div>
        <div style="height:50px"></div>
        <nav class="mui-bar mui-bar-tab">
            <nav class="mui-bar mui-bar-tab">
                <div class="t-line">
                    <a href="index.html" class="aui-tab-item mui-active">
                        <span class="mui-icon iconHover mui-icon-home"></span>
                        <span class="mui-tab-label">首页</span>
                    </a>
                    <a href="../product/spList.html?tmp=8" class="aui-tab-item" >
                        <span class="mui-icon mui-icon-extra mui-icon-extra-class"></span>
                        <span class="mui-tab-label">分类</span>
                    </a>
                    <a class="aui-tab-item" href="../product/myOrder.html?tmp=8">
                        <span class="mui-icon mui-icon-extra mui-icon-extra-cart"></span>
                        <span class="mui-tab-label">订单</span>
                    </a>
                    <a class="aui-tab-item" href="../product/me.html?tmp=8">
                        <span class="mui-icon mui-icon-extra mui-icon-extra-people"></span>
                        <span class="mui-tab-label">我的</span>
                    </a>
                </div>
            </nav>

        </nav>
    </div>
<script src="/web/js/unit.js"></script>
<script src="/web/trd/requirejs/require.js"></script>
<script src="/web/js/require.config.js"></script>
<script src="js/index.js"></script>



</body>
</html>
