<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>名牌奢侈品代购</title>
<link rel="stylesheet" href="css/mui.min.css">
<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="content">
    	<div class="adLine"><img src="img/pic.png"></div>
        <div class="lineCon">
        	<h1 class="titleCon"><span><img src="img/H2.png"></span></h1>
            <ul class="jsCon">
            	<li>
                	<em><img src="img/ico01.png"></em>
                    <span>共赢</span>
                    <p>联合小程序开发和应用企业，共同加入到组织中来</p>
                </li>
                <li>
                	<em><img src="img/ico02.png"></em>
                    <span>支持</span>
                    <p>为小程序开发和应用提供理论和技术支持；</p>
                </li>
                <li>
                	<em><img src="img/ico03.png"></em>
                    <span>品牌</span>
                    <p>快速提高小程序公司的品牌信誉度以及品牌形象</p>
                </li>
                <li class="lineR">
                	<em><img src="img/ico04.png"></em>
                    <span>信任</span>
                    <p>确保解决企业以及网民最大的担忧：信任</p>
                </li>
            </ul>
        </div>
        <div style="height:50px"></div>
        <nav class="mui-bar mui-bar-tab footerMeun">
            <div class="t-line">
                <a href="indexN.html" class="aui-tab-item">
                    <span class="mui-icon iconHover mui-icon-home"></span>
                    <span class="mui-tab-label">优势</span>
                </a>
                <a href="caseN.html" class="aui-tab-item mui-active" >
                    <span class="mui-icon mui-icon-extra mui-icon-extra-class"></span>
                    <span class="mui-tab-label">案例</span>
                </a>
                <a class="aui-tab-item" href="newsN.html">
                    <span class="mui-icon mui-icon-extra mui-icon-extra-cart"></span>
                    <span class="mui-tab-label">新闻</span>
                </a>
                <a class="aui-tab-item" href="contactN.html">
                    <span class="mui-icon mui-icon-extra mui-icon-extra-people"></span>
                    <span class="mui-tab-label">联系我们</span>
                </a>
            </div>
        </nav>
    </div>
<script src="js/mui.min.js"></script>
</body>
</html>
