<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>天下互联</title>
<link rel="stylesheet" href="../css/style.css">
</head>

<body>
	<div class="content">
    	<ul class="newsList cpjsList">
        	<li>
            	<h2 class="cpTitle">天象客户端</h2>
                <p class="cpCon">天象客户端产品是由天下互联推出的一款手机客户端软件，主要为各企业、各行业以及商城打造高端名片，品牌价值，打造高端企业、行业形象</p>
            </li>
            <li>
            	<h2 class="cpTitle">商业电讯</h2>
                <p class="cpCon">于2004年5月推出。商业电讯是上市公司的财经资讯平台。现有上市公司客户800余家，包括FACTIVA、BlOOMBERG、PRIMEZONE、YAHOO中国、新浪、SOHU、网易、TOM等</p>
            </li>
            <li>
            	<h2 class="cpTitle">情景传播</h2>
                <p class="cpCon">于2004年5月推出。商业电讯是上市公司的财经资讯平台。现有上市公司客户800余家，包括FACTIVA、BlOOMBERG、PRIMEZONE、YAHOO中国、新浪、SOHU、网易、TOM等</p>
            </li>
        </ul>
        <div style="height:50px"></div>
        <div class="tab-bar tab-bottom" style="background:#fff; position:fixed; border-top:1px solid #e8e8e8;">
            <a class="tab-button cached" href="inedxN.html"><i class="tab-button-icon icon icon-home"></i><span class="tab-button-txt">首页</span></a>
            <a class="tab-button cached" href="newsN.html"><i class="tab-button-icon icon icon-exhibition icon-exhibition-x"></i><span class="tab-button-txt">新闻</span></a>
            <a class="tab-button active" href="cpjsN.html"><i class="tab-button-icon icon icon-exhibition cpjsIcon"></i><span class="tab-button-txt">产品介绍</span></a>
            <a class="tab-button cached" href="lxwmN.html"><i class="tab-button-icon icon icon-exhibition lxwmIcon"></i><span class="tab-button-txt">联系我们</span></a>
        </div>
    </div>
</body>
</html>
