<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>服装类</title>
<link rel="stylesheet" href="css/mui.min.css">
<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="content">
    	<div class="yhjCon">
        	<div class="yhjConA">
                <div class="tbPic">
                	<span></span>
                    <p>我的应用</p>
                </div>
                <h1 class="djqTitle">减免代金券</h1>
                <ul class="xxtj">
                	<li>
                        我的应使用条件：满200.00元减20.00元<br>
                        可用时间：2017-04-20-2017-05-20<br>
                        00:00-23:59用
                    </li>
                    <li>地址 : 深圳市</li>
                    <li>电话 : 0755-000</li>
                </ul>
            </div>
            <div class=" lqBnt">领 取</div>
        </div>
        
    </div>
<script src="js/mui.min.js"></script>
</body>
</html>
