<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>服装类</title>
<link rel="stylesheet" href="css/mui.min.css">
<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="content">
    	<!--banner start-->
    	<div id="slider" class="mui-slider" >
		<div class="mui-slider-group mui-slider-loop">
			<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
			<div class="mui-slider-item mui-slider-item-duplicate">
				<a href="#">
					<img src="img/banner.jpg">
				</a>
			</div>
			<!-- 第一张 -->
			<div class="mui-slider-item">
				<a href="#">
					<img src="img/banner.jpg">
				</a>
			</div>
			<!-- 第二张 -->
			<div class="mui-slider-item">
				<a href="#">
					<img src="img/banner.jpg">
				</a>
			</div>
			<!-- 第三张 -->
			<div class="mui-slider-item">
				<a href="#">
					<img src="img/banner.jpg">
				</a>
			</div>
			<!-- 第四张 -->
			<div class="mui-slider-item">
				<a href="#">
					<img src="img/banner.jpg">
				</a>
			</div>
			<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
			<div class="mui-slider-item mui-slider-item-duplicate">
				<a href="#">
					<img src="img/banner.jpg">
				</a>
			</div>
		</div>
		<div class="mui-slider-indicator">
			<div class="mui-indicator mui-active"></div>
			<div class="mui-indicator"></div>
			<div class="mui-indicator"></div>
			<div class="mui-indicator"></div>
		</div>
	</div>
    	<!--banner end-->
        <div class="devider t-line"></div>
        <div class="aui-nav">
		<ul class="mui-table-view mui-grid-view mui-grid-9">
			<li class="mui-table-view-cell mui-media mui-col-sm-3 ">
				<a href="#">
					<span class="aui-cell-img"><img src="img/icon.jpg" alt=""></span>
					<div class="mui-media-body">优选</div>
				</a>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-sm-3 ">
				<a href="#">
					<span class="aui-cell-img"><img src="img/icon1.jpg" alt=""></span>
					<div class="mui-media-body">热销</div>
				</a>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-sm-3 ">
				<a href="#">
					<span class="aui-cell-img"><img src="img/icon1-1.jpg" alt=""></span>
					<div class="mui-media-body">分类</div>
				</a>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-sm-3 ">
				<a href="lqyhq.html">
					<span class="aui-cell-img"><img src="img/icon1-2.jpg" alt=""></span>
					<div class="mui-media-body">优惠</div>
				</a>
			</li>
		</ul>
	</div>
    	<div class="devider t-line"></div>
        <div class="aui-hot t-line">
            <div>
                <a href="#"><img src="img/pic.jpg" alt=""></a>
            </div>
            <h2>男神女神们读书忙 你还在继续做文盲？松茸部长</h2>
        </div>
        <div class="devider t-line"></div>
        <!--潮流搭配-->
		<div class="aui-list t-line">
		<h2>潮流搭配</h2>
		<ul class="mui-table-view mui-grid-view">
			<li class="mui-table-view-cell mui-media mui-col-xs-3a">
				<a href="#">
					<img class="mui-media-object" src="img/pic1.jpg">
					<div class="mui-media-body">入夏套装新品</div>
				</a>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-xs-3a">
				<a href="#">
					<img class="mui-media-object" src="img/pic1.jpg">
					<div class="mui-media-body">网红新品搭</div>
				</a>
			</li>
			<li class="mui-table-view-cell mui-media mui-col-xs-3a">
				<a href="#">
					<img class="mui-media-object" src="img/pic1.jpg">
					<div class="mui-media-body">仙女穿搭术</div>
				</a>
			</li>		</ul>
	</div>
    	<div class="devider t-line"></div>
        <!--推荐列表-->
		<div class="aui-week t-line">
            <h2>推荐列表</h2>
            <ul class="mui-table-view mui-grid-view">
                <li class="mui-table-view-cell mui-media mui-col-xs-3a">
                    <a href="productDetails.html">
                        <img class="mui-media-object" src="img/pic1.jpg">
                        <div class="mui-media-body">入夏套装新品入夏套装新品</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3a">
                    <a href="#">
                        <img class="mui-media-object" src="img/pic1.jpg">
                        <div class="mui-media-body">连衣裙</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3a">
                    <a href="#">
                        <img class="mui-media-object" src="img/pic1.jpg">
                        <div class="mui-media-body">时尚美</div>
                    </a>
                </li>	
                    <li class="mui-table-view-cell mui-media mui-col-xs-3a">
                    <a href="#">
                        <img class="mui-media-object" src="img/pic1.jpg">
                        <div class="mui-media-body">上镜装</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3a">
                    <a href="#">
                        <img class="mui-media-object" src="img/pic1.jpg">
                        <div class="mui-media-body">显瘦装</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3a">
                    <a href="#">
                        <img class="mui-media-object" src="img/pic1.jpg">
                        <div class="mui-media-body">混搭界</div>
                    </a>
                </li>	
             </ul>
        </div>
        <div class="devider t-line"></div>
        <div style="height:50px"></div>
        <nav class="mui-bar mui-bar-tab">
            <div class="t-line">
                <a href="index.html" class="aui-tab-item mui-active">
                    <span class="mui-icon iconHover mui-icon-home"></span>
                    <span class="mui-tab-label">首页</span>
                </a>
                <a href="spList.html" class="aui-tab-item" >
                    <span class="mui-icon mui-icon-extra mui-icon-extra-class"></span>
                    <span class="mui-tab-label">购物</span>
                </a>
                <a class="aui-tab-item" href="me.html">
                    <span class="mui-icon mui-icon-extra mui-icon-extra-people"></span>
                    <span class="mui-tab-label">我的</span>
                </a>
            </div>
        </nav>
    </div>
<script src="js/mui.min.js"></script>
<script type="text/javascript" charset="utf-8">
    mui.init({
        swipeBack:true //启用右滑关闭功能
    });
    var slider = mui("#slider");
    document.getElementById("switch").addEventListener('toggle', function(e) {
        if (e.detail.isActive) {
            slider.slider({
                interval: 5000
            });
        } else {
            slider.slider({
                interval: 0
            });
        }
    });
</script>
<script>
    mui.init();
</script>
</body>
</html>
