<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>服装类</title>
<link rel="stylesheet" href="css/mui.min.css">
<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="content bgfff">
    	<div class="loginCon">
        	<ul class="loginLine">
            	<li><em><img src="img/ico01.png"></em> <input type="text" class="loginK" placeholder="输入11位手机号码"></li>
                <li><em class="mmIcon"><img src="img/ico02.png"></em> <input type="text" class="loginK yzmK" placeholder="ntFx"> <span class="fsyzm">发送</span></li>
                <li><em class="mmIconA"><img src="img/ico03.png"></em> <input type="text" class="loginK" placeholder="输入验证码"></li>
                <li class="dlBnt">登 录</li>
            </ul>
        </div>
    </div>
<script src="js/mui.min.js"></script>
</body>
</html>
