<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>服装类</title>
<link rel="stylesheet" href="css/mui.min.css">
<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="content">
    	<div class="nr_tjhd_con">
        	<h1 class="tuxx">
                	<span class="dq_hover">全部</span>
                    <span>待付款</span>
                    <span>待收货</span>
                    <span>待评价</span>
                </h1>
                <div class="tb_nr_A">
                	<div class="tb_nr_a">
                        <ul class="fkList">
                            <li>
                            	<div class="timeLine">
                                	<span>2017-05-10 09：18：23</span>
                                    <p>已关闭</p>
                                </div>
                                <div class="cpxqLineA">
                                	<div class="cppictxt">
                                    	<span><img src="img/pic1.jpg"></span>
                                        <p>欧美新款欧美新款欧美新款欧美新款欧美新款欧美新款</p>
                                    </div>
                                    <div class="jgsl">￥ 58.00<br>x1</div>
                                </div>
                                <div class="jzLine">
                                	<div class="jzLineLeft"><span>共1件</span> <span>实付：<em class="orange">57.80</em></span></div>
                                </div>
                            </li>
                            <li>
                            	<div class="timeLine">
                                	<span>2017-05-10 09：18：23</span>
                                    <p>待付款</p>
                                </div>
                                <div class="cpxqLineA">
                                	<div class="cppictxt">
                                    	<span><img src="img/pic1.jpg"></span>
                                        <p>欧美新款欧美新款欧美新款欧美新款欧美新款欧美新款</p>
                                    </div>
                                    <div class="jgsl">￥ 58.00<br>x1</div>
                                </div>
                                <div class="jzLine">
                                	<div class="jzLineLeft"><span>共1件</span> <span>实付：<em class="orange">57.80</em></span></div>
                                    <div class="jzLineBnt"><a href="payment.html">付款</a></div>
                                </div>
                            </li>
                            <li>
                            	<div class="timeLine">
                                	<span>2017-05-10 09：18：23</span>
                                    <p>待评价</p>
                                </div>
                                <div class="cpxqLineA">
                                	<div class="cppictxt">
                                    	<span><img src="img/pic1.jpg"></span>
                                        <p>欧美新款欧美新款欧美新款欧美新款欧美新款欧美新款</p>
                                    </div>
                                    <div class="jgsl">￥ 58.00<br>x1</div>
                                </div>
                                <div class="jzLine">
                                	<div class="jzLineLeft"><span>共1件</span> <span>实付：<em class="orange">57.80</em></span></div>
                                    <div class="jzLineBnt"><a href="evaluate.html">去评价</a></div>
                                </div>
                            </li>
                            <li>
                            	<div class="timeLine">
                                	<span>2017-05-10 09：18：23</span>
                                    <p>待收货</p>
                                </div>
                                <div class="cpxqLineA">
                                	<div class="cppictxt">
                                    	<span><img src="img/pic1.jpg"></span>
                                        <p>欧美新款欧美新款欧美新款欧美新款欧美新款欧美新款</p>
                                    </div>
                                    <div class="jgsl">￥ 58.00<br>x1</div>
                                </div>
                                <div class="jzLine">
                                	<div class="jzLineLeft"><span>共1件</span> <span>实付：<em class="orange">57.80</em></span></div>
                                    <div class="jzLineBnt"><a href="#">收货</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tb_nr_a hide">
                    	<ul class="fkList">
                            <li>
                            	<div class="timeLine">
                                	<span>2017-05-10 09：18：23</span>
                                    <p>待付款</p>
                                </div>
                                <div class="cpxqLineA">
                                	<div class="cppictxt">
                                    	<span><img src="img/pic1.jpg"></span>
                                        <p>欧美新款欧美新款欧美新款欧美新款欧美新款欧美新款</p>
                                    </div>
                                    <div class="jgsl">￥ 58.00<br>x1</div>
                                </div>
                                <div class="jzLine">
                                	<div class="jzLineLeft"><span>共1件</span> <span>实付：<em class="orange">57.80</em></span></div>
                                    <div class="jzLineBnt"><a href="payment.html">付款</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tb_nr_a hide">
                    	<ul class="fkList">
                            <li>
                            	<div class="timeLine">
                                	<span>2017-05-10 09：18：23</span>
                                    <p>待收货</p>
                                </div>
                                <div class="cpxqLineA">
                                	<div class="cppictxt">
                                    	<span><img src="img/pic1.jpg"></span>
                                        <p>欧美新款欧美新款欧美新款欧美新款欧美新款欧美新款</p>
                                    </div>
                                    <div class="jgsl">￥ 58.00<br>x1</div>
                                </div>
                                <div class="jzLine">
                                	<div class="jzLineLeft"><span>共1件</span> <span>实付：<em class="orange">57.80</em></span></div>
                                    <div class="jzLineBnt"><a href="#">收货</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tb_nr_a hide">
                    	<ul class="fkList">
                            <li>
                            	<div class="timeLine">
                                	<span>2017-05-10 09：18：23</span>
                                    <p>待评价</p>
                                </div>
                                <div class="cpxqLineA">
                                	<div class="cppictxt">
                                    	<span><img src="img/pic1.jpg"></span>
                                        <p>欧美新款欧美新款欧美新款欧美新款欧美新款欧美新款</p>
                                    </div>
                                    <div class="jgsl">￥ 58.00<br>x1</div>
                                </div>
                                <div class="jzLine">
                                	<div class="jzLineLeft"><span>共1件</span> <span>实付：<em class="orange">57.80</em></span></div>
                                    <div class="jzLineBnt"><a href="evaluate.html">去评价</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
<script src="js/mui.min.js"></script>
<script type="text/javascript" src="js/jquery-1.8.0.min.js"></script>
<script>
$(function(){
	    var $div_li =$(".tuxx span");
	    $div_li.click(function(){
			$(this).addClass("dq_hover")            //当前<li>元素高亮
				   .siblings().removeClass("dq_hover");  //去掉其他同辈<li>元素的高亮
            var index =  $div_li.index(this);  // 获取当前点击的<li>元素 在 全部li元素中的索引。
			$("div.tb_nr_A > div")   	//选取子节点。不选取子节点的话，会引起错误。如果里面还有div 
					.eq(index).show()   //显示 <li>元素对应的<div>元素
					.siblings().hide(); //隐藏其他几个同辈的<div>元素
		}).hover(function(){
			$(this).addClass("hover");
		},function(){
			$(this).removeClass("hover");
		});
		var tbWidth = $(".xxsj").width();
		$("#tb_tub2").width(tbWidth);
		$("#tb_tubpie").width(tbWidth);
})
</script>
</body>
</html>
