<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>名牌奢侈品代购</title>
<link rel="stylesheet" href="../css/mui.min.css">
<link rel="stylesheet" href="../css/style.css">
</head>

<body>
	<div class="content">
        <div class="lineConD">
            <ul class="newsList">
            	<li>
                	<a href="#">
                	<div class="picLeft"><img src="../img/pic.jpg"></div>
                    <div class="txtRight">
                    	<span>资管通道业务被全面封杀</span>
                        <p>提起杭州的知名企业家，大家脑海里首先浮现出的就是马云</p>
                    </div>
                    </a>
                </li>
                <li>
                	<a href="#">
                	<div class="picLeft"><img src="../img/pic.jpg"></div>
                    <div class="txtRight">
                    	<span>资管通道业务被全面封杀</span>
                        <p>提起杭州的知名企业家，大家脑海里首先浮现出的就是马云</p>
                    </div>
                    </a>
                </li>
                <li>
                	<a href="#">
                	<div class="picLeft"><img src="../img/pic.jpg"></div>
                    <div class="txtRight">
                    	<span>资管通道业务被全面封杀</span>
                        <p>提起杭州的知名企业家，大家脑海里首先浮现出的就是马云</p>
                    </div>
                    </a>
                </li>
                <li>
                	<a href="#">
                	<div class="picLeft"><img src="../img/pic.jpg"></div>
                    <div class="txtRight">
                    	<span>资管通道业务被全面封杀</span>
                        <p>提起杭州的知名企业家，大家脑海里首先浮现出的就是马云</p>
                    </div>
                    </a>
                </li>
                <li>
                	<a href="#">
                	<div class="picLeft"><img src="../img/pic.jpg"></div>
                    <div class="txtRight">
                    	<span>资管通道业务被全面封杀</span>
                        <p>提起杭州的知名企业家，大家脑海里首先浮现出的就是马云</p>
                    </div>
                    </a>
                </li>
                <li>
                	<a href="#">
                	<div class="picLeft"><img src="../img/pic.jpg"></div>
                    <div class="txtRight">
                    	<span>资管通道业务被全面封杀</span>
                        <p>提起杭州的知名企业家，大家脑海里首先浮现出的就是马云</p>
                    </div>
                    </a>
                </li>
            </ul>
        </div>
        <div style="height:50px"></div>
        <nav class="mui-bar mui-bar-tab footerMeun">
            <div class="t-line">
                <a href="indexN.html" class="aui-tab-item">
                    <span class="mui-icon iconHover mui-icon-home"></span>
                    <span class="mui-tab-label">优势</span>
                </a>
                <a href="caseN.html" class="aui-tab-item mui-active" >
                    <span class="mui-icon mui-icon-extra mui-icon-extra-class"></span>
                    <span class="mui-tab-label">案例</span>
                </a>
                <a class="aui-tab-item" href="newsN.html">
                    <span class="mui-icon mui-icon-extra mui-icon-extra-cart"></span>
                    <span class="mui-tab-label">新闻</span>
                </a>
                <a class="aui-tab-item" href="contactN.html">
                    <span class="mui-icon mui-icon-extra mui-icon-extra-people"></span>
                    <span class="mui-tab-label">联系我们</span>
                </a>
            </div>
        </nav>
    </div>
<script src="../sjs/mui.min.js"></script>
</body>
</html>
